.gdp-icon-empty {
	background:#EFEFEF url('images/empty.png') no-repeat center center;
}
.gdp-icon-delete {
	background:#EFEFEF url('images/delete.png') no-repeat center center;
}
.gdp-icon-func {
	background:#EFEFEF url('images/func.png') no-repeat center center;
}
.add_ico {
	background-image:url(images/add.png);
	background-repeat: no-repeat;
	background-color:transparent;
	position: relative;
	left: 4px;
	top: 4px;
	border: 0px solid #ffffff;
	padding: 0;
	cursor: pointer;
}
.cycle_del{
	background-image:url(images/delete.png);
	background-repeat: no-repeat;
	background-color:transparent;
	border: 1px solid #ffffff;
	width:13px;
	height:13px;
	cursor: pointer;
}