<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (c) MINGYOUTECH Co. Ltd.-->
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingyoutech.mybi.demo.coding.domain.Demo_jdbc">
	
	<!-- 查询作业与数据库连接配置数据列表 -->
	<select id="findJdbcList" resultType="Demo_jdbc" parameterType="Demo_jdbc">
	  SELECT 
	    	connect_id connectId, ip, port, sid,username,password,remark,connect_desc connectDesc
		FROM 
			TP_PIM_JDBC j
	</select>
	
	<!-- 根据JDBC资源的ID，获取JDBC配置 -->
	<select id="findJdbcByConnectId" resultType="Demo_jdbc" parameterType="Demo_jdbc">
	   SELECT 
        connect_id connectId, 
        trim(ip) as ip, 
        trim(port) as port, 
        trim(sid) as sid,
        trim(username) as username,
        trim(password) as password,
        remark,
        connect_desc connectDesc
     FROM 
        TP_PIM_JDBC j
     WHERE 
        CONNECT_ID = #{connectId, jdbcType=VARCHAR}
	</select>

</mapper>